.container {
    border: 2px solid rgb(219, 219, 255);
    border-radius: 11px;
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    /* border: 2px solid red; */
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-name, .div-email {
    width: 450px;
    height: 40px;
    /* border: 1px solid blueviolet; */
    margin: 1rem;
    padding: 1rem;
}

.div-btn-enviar {
    /* border: 1px solid blueviolet; */
    border-radius: 25px;
    width: 250px;
    color: #fff;
    font-size: 1.1rem;
}

.btn-enviar {
    border-radius: 25px;
    background-color: rgb(78, 78, 247);
    width: 250px;
    color: #fffdfd;
    font-size: 1.1rem;
}

input {
    width: 80%;
    padding: .5rem;
    border-radius: 8px;
    border: 1px solid rgb(201, 201, 201);
    font-size: 1rem;
}

.sg {
    margin-right: .3rem;
    font-weight: bold;
}

.bio {
    width: 70%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio-textarea {
    width: 20rem;
    height: 5rem;
    border-radius: 8px;
    border: 1px solid rgb(201, 201, 201);
    font-size: 1rem;
}

.bio-label > span {
    display: flex;
    font-weight: bold;
}